.no-dec {
    text-decoration: none;
    color: white;
}
.no-dec:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.479);
}

.sidebar {
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}